# Official subject files
/docs/subject.md
/docs/subject.pdf

dist/
.env
.env.local
certs/*.pem

.agents/
.codex/
.devcontainer/
docker-compose-explicacao.md
package-lock-explicacao.md
autenticacao.md

node_modules/
coverage/
