node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
dist/

/src/generated/prisma

/prisma/prisma.md
/prisma/prisma-model.md
backend-setup.md
nest-module-provider-scope.md
nest-module-service-controller.md
